// FONT-SIZE
$font-size-88px: 8.8rem;
$font-size-78px: 7.8rem;
$font-size-65px: 6.4rem;
$font-size-40px: 4rem;
$font-size-32px: 3.2rem;
$font-size-20px: 2rem;
$font-size-18px: 1.8rem;
$font-size-16px: 1.6rem;


// COLORS
$color-one: #66E2DC ;
$color-two: #FA7453;
$color-three: #FFB964;
$color-four: #FCFAF9;
$color-five: #191826;
$bg-color: #f2f2f2;

// FONTS-FAMILY

$font-family: 'IBM Plex Sans';

// FONT-WEIGHT

$font-weight-700: 700;
$font-weight-400: 400;